NEXT_PUBLIC_LASOTUVI_API_URL=http://localhost:8000
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_BACKEND_REPO_URL=https://github.com/quytttb/lasotuvi
NEXT_PUBLIC_FRONTEND_REPO_URL=https://github.com/quytttb/lasotuvi-web
NEXT_PUBLIC_CONTACT_EMAIL=quyquaquyet02tx@gmail.com
OPENAPI_SCHEMA_URL=http://localhost:8000/openapi.json
